@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
// @import '~bootswatch/dist/darkly/variables';
@import '~bootstrap/scss/variables';
@import 'colors';

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.form-control {
  background-color: #fff;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row-md.jh-entity-details {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .row-md.jh-entity-details > {
    dt {
      float: left;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0.5em 0;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding: 0.5em 0;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-menu {
  padding-left: 0px;
}

/* ==========================================================================
angular-cli removes postcss-rtl processed inline css, processed rules must be added here instead
========================================================================== */
/* page-ribbon.component.scss */
.ribbon {
  left: -3.5em;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* navbar.component.scss */
.navbar {
  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }
}
/* jhipster-needle-scss-add-main JHipster will add new css style */

/* Adding design components based on DARC Design System */

// Colors

.txt-success {
  color: $success-default;
}

.txt-failure {
  color: $failure-default;
}

.txt-link {
  color: $link-default;
}

.txt-neutral {
  color: $neutral-default;
}

.bg-success {
  background-color: $success-default;
}

.bg-failure {
  background-color: $failure-default;
}

.bg-link {
  background-color: $link-default;
}

.bg-neutral {
  background-color: $neutral-default;
}

.img-filter-success {
  filter: invert(58%) sepia(75%) saturate(373%) hue-rotate(105deg) brightness(85%) contrast(92%);
}

.img-filter-failure {
  filter: invert(10%) sepia(74%) saturate(7436%) hue-rotate(353deg) brightness(98%) contrast(102%);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: black;
  letter-spacing: 0.015em;
}

.card-item {
  background-color: white;
  display: flex;
  flex: 0 1 100%;
  // min-height: 270px;
  // max-height: 270px;
  border: 1px solid $grey-40;
  .card-body {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    // display: -webkit-box;
    // -webkit-line-clamp: 4;

    max-height: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    p {
    }
  }
  .card-header,
  .card-footer {
    background-color: white;
    border: 0;
    // min-height: 5%;
    // max-height: 5%;
  }
  .card-header {
    // all: unset;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .card-footer {
    // all: unset;
    // margin: 0 1em;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

// .card {
//   all: unset;
//   margin: 1em;
//   padding: 1em;
//   background-color: white;
//   display: flex;
//   flex-direction: column;
//   flex: 0 1 32%;
//   max-height: 100%;
//   max-width: 500px;
//   min-width: calc(33% - 3em); // we want to show 5 at any screen size
//   // align-items: stretch;
//   .card-body {
//     all: unset;
//     // max-height: 20px;
//     // overflow: hidden;
//     // text-overflow: ellipsis;
//     h3 {
//       font-weight: 700;
//     }
//     p {
//       max-width: 150ch;
//     }
//   }
//   .card-header {
//     all: unset;
//     // height: 10%;
//   }
//   .card-footer {
//     all: unset;
//     align-self: flex-start;
//     margin: 10px 0;
//   }
// }

// label

.label {
  display: inline-block;
  border-radius: 6px;
  border: none;
  padding: 5px 10px;
  margin: 0;
  & .label-text {
    display: flex;
    font-weight: 600;
    letter-spacing: 0.015em;
    align-items: center;
    white-space: nowrap;
  }
}

.label-default {
  background-color: $grey-50;
  color: white;
}

.label-important {
  background-color: $red-60;
  color: white;
}
